<div ng-controller="ButtonsCtrl">
	<h4>Single toggle</h4>
	<pre>{{singleModel}}</pre>
	<button type="button" class="btn btn-primary" ng-model="singleModel" btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
		Single Toggle
	</button>
	<h4>Checkbox</h4>
	<pre>{{checkModel}}</pre>
	<div class="btn-group">
		<button type="button" class="btn btn-primary" ng-model="checkModel.left" btn-checkbox>Left</button>
		<button type="button" class="btn btn-primary" ng-model="checkModel.middle" btn-checkbox>Middle</button>
		<button type="button" class="btn btn-primary" ng-model="checkModel.right" btn-checkbox>Right</button>
	</div>
	<h4>Radio</h4>
	<pre>{{radioModel}}</pre>
	<div class="btn-group">
		<button type="button" class="btn btn-primary" ng-model="radioModel" btn-radio="'Left'">Left</button>
		<button type="button" class="btn btn-primary" ng-model="radioModel" btn-radio="'Middle'">Middle</button>
		<button type="button" class="btn btn-primary" ng-model="radioModel" btn-radio="'Right'">Right</button>
	</div>
	<h4>Own directive</h4>
	<div my-directive
		 my-url="http://google.com"
		 my-link-text="Click me to go to Google">
	</div>
	<h4>Lock Button Directive</h4>
	<pre>{{locked}}</pre>
	<div lock-btn
		 my-btn="this"
		 my-index="scopeIndex"
		 locked="{{locked}}"
		 btn-class="{{locked === 1 ? 'btn-success' : 'btn-danger'}}"
		 btn-title="{{locked === 1 ? 'Unlock User' : 'Lock User'}}"
		 btn-glyph="{{locked === 1 ? 'remove-sign' : 'ok-sign'}}"
			>
	</div>
	<h4>Delete Button Directive</h4>
	<pre>{{deleted}}</pre>
	<div delete-btn
		 my-btn="this"
		 my-index="scopeIndex"
		 deleted="{{deleted}}"
		 btn-class="{{deleted === 1 ? 'btn-success' : 'btn-danger'}}"
		 btn-title="{{deleted === 1 ? 'Undelete' : 'Delete'}}"
			>
	</div>
	<h4>Hide/Unhide Button Directive</h4>
	<pre>{{hidden}}</pre>
	<div hide-btn
		 my-btn="this"
		 my-index="scopeIndex"
		 hidden="{{hidden}}"
		 btn-class="{{hidden === 1 ? 'btn-success' : 'btn-danger'}}"
		 btn-title="{{hidden === 1 ? 'Unhide' : 'Hide'}}"
		 btn-glyph="{{hidden === 1 ? 'eye-open' : 'eye-close'}}"
			>
	</div>
</div>