<div class="dropdown">
	<button type="button" class="btn btn-default" ng-click="toggleSelect()" ng-disabled="disabled" ng-class="{'error': !valid()}">
		<span class="pull-left">{{header}}</span>
		<span class="caret pull-right"></span>
	</button>
	<ul class="dropdown-menu">
		<li>
			<div class="search-rounded input-group input-group-sm">
				<!--<input class="form-input" type="text" ng-model="searchText.label" autofocus="autofocus" placeholder="Filter" />-->
				<input class="form-control" type="text" ng-model="searchText.label" autofocus="autofocus" placeholder="Filter" />
				<span class="input-group-addon"><gi i="search"></gi></span>
			</div>
		</li>
		<li ng-show="multiple">
			<button type="button" class="btn-link btn-small" ng-click="checkAll()"><gi class="glyph" i="ok"></gi> Check all</button>
			<button type="button" class="btn-link btn-small" ng-click="uncheckAll()"><gi class="glyph" i="remove"></gi> Uncheck all</button>
		</li>
		<li ng-repeat="i in items | filter:searchText">
			<a ng-click="select(i); focus()">
				<gi class="glyph" i="{{i.checked ? 'ok' : 'empty'}}"></gi> {{i.label}}
			</a>
		</li>
	</ul>
</div>
