.calendar-rounded {
	height: 36px;
	padding: 4px 0;
}

.calendar-rounded input {
	width:100%;
	height: 30px;
	padding: 5px 10px;
	font-size: 12px;
	line-height: 1.5;
	margin-right:0px;
	border: 1px solid #ccc;
}

.calendar-rounded span.input-group-addon {
	margin-left:0px;
	-webkit-border-radius: 0 14px 14px 0;
	-moz-border-radius: 0 14px 14px 0;
	border-radius: 0 14px 14px 0;
}