multiselect {
	display:block;
}
multiselect .btn {
	width: 100%;
	background-color: #FFF;
}
multiselect .btn.error{
	border: 1px solid #da4f49 !important;
}
multiselect .dropdown-menu {
	max-height: 300px;
	overflow-y: auto;
}
multiselect .dropdown-menu {
	width: 100%;
	box-sizing: border-box;
	padding: 2px;
}
multiselect .dropdown-menu > li > a {
	padding: 3px 10px;
	cursor:pointer;
}

.search-rounded {
	height: 36px;
	padding: 4px 0;
}

.search-rounded input {
	width:100%;
	height: 30px;
	padding: 5px 10px;
	font-size: 12px;
	line-height: 1.5;
	-webkit-border-radius: 14px 0 0 14px;
	-moz-border-radius: 14px 0 0 14px;
	border-radius: 14px 0 0 14px;
}

.search-rounded span.input-group-addon {
	-webkit-border-radius: 0 14px 14px 0;
	-moz-border-radius: 0 14px 14px 0;
	border-radius: 0 14px 14px 0;
}

.btn .caret {
	margin-top: 8px;
	margin-left: 2px;
}