<div ng-controller="MultiSelectDemoCtrl">
	<form id="form" name="form" method="post" novalidate ng-submit="createMS()">
		<h4>Multi Select</h4>
		<pre>{{selectedCar}}</pre>
		<multiselect class="input-xlarge" multiple="true"
					 ng-model="selectedCar"
					 options="c.name for c in cars"
					 change="selected()" ></multiselect>
		<h4>Single Select</h4>
		<pre>{{selectedFruit}}</pre>
		<multiselect class="input-xlarge"
					 ng-model="selectedFruit"
					 options="c.name for c in fruits"
					 change="selected()" ></multiselect>
		<button type="submit" class="btn">Submit</button>
	</form>
</div>
