<div ng-controller="AlertController">
    <div ng-controller="AlertDemoCtrl">
        <h3>Alert Types</h3>
        <alert-box ng-repeat="alert in alerts" type="alert.type">{{alert.heading}} {{alert.message}}</alert-box>

        <div ng-show="alert.type !== ''">
            <alert-box type="alert.type">{{alert.heading}} {{alert.message}}</alert-box>
        </div>

        <button class='btn btn-default' ng-click="addAlert()">Add Alert</button>
    </div>
</div>

